*{
    margin: 0;
    padding: 0;   
    text-align: center;
    font-family: serif,"Arial";
}

.intro{
    background: #b61e1e;
    color: #fff23b;
    margin: 0 0 20px 0;
}

#video{
    margin: 20px 0 25px 0;
}

.img1{
    width: 240px;
    padding: auto;
    margin: 20px 0 20px 0;
}

footer{
    background: #b61e1e;
    color: #fff23b;
}

p.form-intro{
    height: 50px;
    color: #fff23b;
    margin-top: 20px;
    padding: auto;
    font-size: 1.3rem;
}

p.form{
    height: 50px;
    text-align: center;
}

button{
    color: #b61e1e;
    background: #fff23b;
    margin: 5px;
    box-sizing: border-box;
    width: 100px;
    height: 35px;
}

@media screen and (min-width: 768px) and (max-width: 1023px){

    .intro{
        font-size: 2rem;
        margin: 0 0 50px 0;
    }
    
    button{
        color: #b61e1e;
        background: #fff23b;
        margin: 5px;
        box-sizing: border-box;
        width: 175px;
        height: 50px;
        font-size: 1.3rem;
    }

    p{
        padding: 0 100px 0 100px;
        font-size: 1.1rem;
    }

    .img1{
        width: 325px;
        height: 350px;
    }

    p.form{
        height: 50px;
        font-size: 1.3rem;
    }

    p.form-intro{
        height: 110px;
        font-size: 2rem;
    }
}